- content_for :scripts do
  = javascript_pack_tag 'show_auto_test_results'
- content_for :styles do
  = stylesheet_pack_tag 'show_auto_test_results'

#show-auto-test-results-app.small-container{data: {}}
  .page-title-holder
    .page-title 查看评测成绩
    
  %div= @auto_test_results