- content_for :scripts do
  = javascript_pack_tag 'new_private_personal_project'
- content_for :styles do
  = stylesheet_pack_tag 'new_private_personal_project'

#new-private-personal-project-app.small-container{data: {classroom_id: @classroom_id}}
  .page-title-holder
    .page-title 创建个人作业项目
  %el-form{'label-width': '100px'}
    - @errors.each do |error|
      %el-alert.error-item{type: 'error', 'title': error}
    %csrf
    %select_runner{'v-model': 'path'}
    %el-form-item{label: '学生范围'}
      %el-select{'v-model': 'form.scope', placeholder: "请选择学生范围"}
        %el-option{label: '班级全体学生', value: 'class'}
        %el-option{label: '单个学生', value: 'student'}
    %el-form-item{label: '选择学生', 'v-if': 'scope === \'student\''}
      %el-select{'v-model': 'form.user_id', placeholder: "请选择学生"}
        %template{'v-for': 'student in studentList'}
          %el-option{':label': 'student.label', ':value': 'student.value'}
    %el-form-item.clearFloat
      %el-button-group.floatRight
        %a.el-button{href: classroom_path(@classroom_id)} 返回
        %el-button{'@click': 'submitForm', type: 'primary'} 创建