- content_for :scripts do
  = javascript_pack_tag 'start_auto_test'
- content_for :styles do
  = stylesheet_pack_tag 'start_auto_test'

#start-auto-test-app.small-container{data: {gitlabid: @public_personal_project_id}}
  .page-title-holder
    .page-title 提交自动评测任务
  %el-form{':model': "form", ref: 'start_auto_test', 'label-width': '100px', action: start_auto_test_classroom_auto_test_projects_path, method: 'post'}
    - @errors.each do |error|
      %el-alert.error-item{type: 'error', 'title': error}
    %csrf
    %el-form-item{label: '项目GitLab ID'}
      %el-input{'v-model': 'form.project_id', readonly: true, name: 'project_id'}
    %el-form-item{label: '使用文件输入'}
      %el-radio{'v-model': 'form.use_text_file', name: 'use_text_file', value: 'true', label: 'true'}
        是，测试点作为文件输入（input.txt）
      %el-radio{'v-model': 'form.use_text_file', name: 'use_text_file', value: 'false', label: 'false'}
        否，测试点通过标准输入（stdin）
    %el-form-item{label: '编译指令'}
      %el-input{'v-model': 'form.compile_command', type: 'textarea', ':rows': '2', placeholder: '默认根据评测机平台使用clang++/g++编译main.cpp，如使用默认，此处留空', name: 'compile_command'}
    %el-form-item{label: '执行指令'}
      %el-input{'v-model': 'form.exec_command', type: 'textarea', ':rows': '2', placeholder: '默认执行./a.out，如使用默认，此处留空', name: 'exec_command'}
    %el-form-item.clearFloat
      %el-button-group.floatRight
        %a.el-button{href: classroom_path(id: @classroom_id)} 返回
        %el-button{'@click': 'submitForm', type: 'primary', ':loading':'is_loading'} 提交