- content_for :title do
  login
- content_for :scripts do
  = javascript_pack_tag 'login'
- content_for :styles do
  = stylesheet_pack_tag 'login'

#login.small-container
  .page-title-holder
    .page-title 登陆
  %el-row
    %el-col{':span': '8'}
      %img{src: '/logo/gitlab-icon-rgb.svg'}
    %el-col{':span': '15', style: 'float: right'}
      %login_panel{:student_href => gitlab_auth_url('student'),
        :teacher_href => gitlab_auth_url('teacher'),
        :admin_href => gitlab_auth_url('admin')}

:scss
  #login {
    margin: auto;
    text-align: center;
    width: 100%;
  }

  #login > img {
    width: 100%;
  }

  #login a {
    text-decoration: none;
  }

  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }