- content_for :scripts do
  = javascript_pack_tag 'teaching_progress_index'
- content_for :styles do
  = stylesheet_pack_tag 'teaching_progress_index'

#teaching-progress-index.small-container
  .page-title-holder
    .page-title 教学进度
  %teaching_progress_index_main{:taskinfo => [],
  :role => @role, :classroomid => @classroom_id}