- content_for :scripts do
  = javascript_pack_tag 'index_organization'
- content_for :styles do
  = stylesheet_pack_tag 'index_organization'
  
#index-organization-app.small-container
  .page-title-holder
    .page-title 组织管理
  %org_index{:org => @all_org_info.to_json,:action => organizations_path}
  
  
  
